<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-12">
    <div class="alert alert-primary border my-4" role="alert">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><%= link_to 'Administration', admin_index_path %></li>
          <li class="breadcrumb-item"><%= link_to 'Projets', admin_projets_path %></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-lg-5 col-md-6">
    <div class="card">
      <h5 class="card-header">Créer une projet</h5>
      <div class="card-body">

        <%= form_with(model: @projet, url: admin_projets_path) do |f| %>
          <%= f.label 'Nom', class: 'mt-1' %>
          <%= f.text_field :name, class: 'form-control mt-1', required: :required, minlength: 2  %>

          <%= f.label 'Description', class: 'mt-2' %>
          <%= f.text_area  :description, class: 'form-control mt-1', minlength: 2, rows: 10 %>

          <%= f.button :submit, class: 'btn btn-success mt-3' do %>
            <i class="fas fa-check"> Valider</i>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
