<div class="row justify-content-md-center admin mb-5">
  <div class="col-lg-8 col-md-12">
    <div class="alert alert-primary border mt-4" role="alert">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><%= link_to 'Administration', admin_index_path %></li>
          <li class="breadcrumb-item active"><%= link_to 'Formats', admin_formats_path %></li>
        </ol>
      </nav>
    </div>

    <%= link_to new_admin_format_path, class: 'btn btn-success mb-3' do %>
    <i class="fas fa-plus-square"> Créer une format</i>
    <% end %>

    <table class="table table-striped border mb-4">
      <thead class="bg-primary text-light border border-primary">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nom</th>
          <th scope="col">Identifiant</th>
          <th scope="col">Groupe</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @formats.each_with_index do |format, i| %>
        <tr>
          <th><%= i + 1 %></th>
          <td><%= format.name %></td>
          <td><%= format.code %></td>
          <td><%= format.group %></td>
          <td>
            <%= link_to admin_format_path(format), class: 'btn btn-sm btn-primary' do %>
            <i class="fas fa-search"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>

  </div>
</div>
